USE [master]
GO
/****** Object:  Database [Ecommerce]    Script Date: 10-Nov-23 2:48:39 PM ******/
CREATE DATABASE [Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[user_id] [int] NULL,
	[product_color_id] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](250) NULL,
	[create_at] [date] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_money] [float] NULL,
	[name] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[phone] [nvarchar](250) NULL,
	[message] [nvarchar](250) NULL,
	[create_at] [date] NULL,
	[status_id] [int] NULL,
	[shipping_id] [int] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_color_id] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](250) NULL,
	[category_id] [int] NULL,
	[create_at] [date] NULL,
	[star] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_color]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_color](
	[product_color_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](250) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](250) NULL,
	[image] [nvarchar](250) NULL,
	[product_id] [int] NULL,
	[create_at] [date] NULL,
	[sold_quantity] [int] NULL,
 CONSTRAINT [PK_product_color] PRIMARY KEY CLUSTERED 
(
	[product_color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](250) NULL,
	[user_id] [int] NULL,
	[product_color_id] [int] NULL,
	[image] [nvarchar](250) NULL,
	[star] [int] NULL,
	[create_at] [date] NULL,
 CONSTRAINT [PK_review] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](250) NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_shipping] PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](250) NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10-Nov-23 2:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](250) NULL,
	[password] [nvarchar](250) NULL,
	[username] [nvarchar](250) NULL,
	[fullname] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[avatar] [nvarchar](250) NULL,
	[role] [int] NULL,
	[create_at] [date] NULL,
	[phone] [nvarchar](250) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cart] ([user_id], [product_color_id], [quantity]) VALUES (22, 13, 3)
INSERT [dbo].[cart] ([user_id], [product_color_id], [quantity]) VALUES (4, 9, 1)
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [name], [description], [create_at]) VALUES (1, N'Iphone', N'Expensive Luxury', CAST(N'2023-10-06' AS Date))
INSERT [dbo].[category] ([category_id], [name], [description], [create_at]) VALUES (2, N'Samsung', N'Amazing, one of the best brand in the world', CAST(N'2023-10-08' AS Date))
INSERT [dbo].[category] ([category_id], [name], [description], [create_at]) VALUES (8, N'Xiaomi', N'Cheap and suitable for student', CAST(N'2023-10-08' AS Date))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [user_id], [total_money], [name], [address], [phone], [message], [create_at], [status_id], [shipping_id]) VALUES (54, 3, 704, N'dat nguyen', N'124 ,Phuong Phu Lam,Quan Ha Dong,Thanh pho Ha Noi', N'0397917086', N'ship on sunday', CAST(N'2023-10-30' AS Date), 5, 3)
INSERT [dbo].[order] ([order_id], [user_id], [total_money], [name], [address], [phone], [message], [create_at], [status_id], [shipping_id]) VALUES (55, 3, 1753, N'dat nguyen', N'124,Phuong Phu Lam,Quan Ha Dong,Thanh pho Ha Noi', N'0397917086', N'ship on sunday', CAST(N'2023-10-30' AS Date), 4, 2)
INSERT [dbo].[order] ([order_id], [user_id], [total_money], [name], [address], [phone], [message], [create_at], [status_id], [shipping_id]) VALUES (56, 8, 3504.5, N'duc anh', N'hoa lac,Xa Dai Dong,Huyen Trang Dinh,Tinh Lang Son', N'1234512312', N'123', CAST(N'2023-10-30' AS Date), 4, 3)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_color_id], [quantity]) VALUES (41, 54, 9, 1)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_color_id], [quantity]) VALUES (42, 55, 9, 1)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_color_id], [quantity]) VALUES (43, 55, 13, 1)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [name], [description], [category_id], [create_at], [star]) VALUES (1, N'Iphone 11', N'Good battery, nice design', 1, CAST(N'2023-10-27' AS Date), 5)
INSERT [dbo].[product] ([product_id], [name], [description], [category_id], [create_at], [star]) VALUES (2, N'Samsung z-flip5 ', N'Good', 2, CAST(N'2023-10-26' AS Date), 5)
INSERT [dbo].[product] ([product_id], [name], [description], [category_id], [create_at], [star]) VALUES (6, N'Iphone13', N'', 1, CAST(N'2023-10-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_color] ON 

INSERT [dbo].[product_color] ([product_color_id], [color], [quantity], [price], [description], [image], [product_id], [create_at], [sold_quantity]) VALUES (1, N'red', 11, 1000, N'Good', N'iphone14red.jpg', 7, CAST(N'2023-10-09' AS Date), 7)
INSERT [dbo].[product_color] ([product_color_id], [color], [quantity], [price], [description], [image], [product_id], [create_at], [sold_quantity]) VALUES (2, N'skyblue', 24, 1500, N'Good', N'samsungs23ultraxanhskyblue.jpg', 9, CAST(N'2023-10-10' AS Date), 3)
INSERT [dbo].[product_color] ([product_color_id], [color], [quantity], [price], [description], [image], [product_id], [create_at], [sold_quantity]) VALUES (4, N'purple', 27, 1100, N'good', N'iphone14purple1.jpg', 7, CAST(N'2023-10-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[product_color] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([review_id], [description], [user_id], [product_color_id], [image], [star], [create_at]) VALUES (31, N'good', 3, 9, N'iphone11green.png', 5, CAST(N'2023-10-30' AS Date))
INSERT [dbo].[review] ([review_id], [description], [user_id], [product_color_id], [image], [star], [create_at]) VALUES (32, N'good', 3, 13, N'samsungzflip5gray.jpg', 5, CAST(N'2023-10-30' AS Date))
INSERT [dbo].[review] ([review_id], [description], [user_id], [product_color_id], [image], [star], [create_at]) VALUES (33, N'good', 3, 1, N'iphone11green.png', 5, CAST(N'2023-10-30' AS Date))
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[shipping] ON 

INSERT [dbo].[shipping] ([shipping_id], [type], [price]) VALUES (1, N'Normal (Receive after 5-6 days)', 2)
INSERT [dbo].[shipping] ([shipping_id], [type], [price]) VALUES (2, N'Fast (Receive after 3-4 days)', 3)
INSERT [dbo].[shipping] ([shipping_id], [type], [price]) VALUES (3, N'Express (Receive after 1-2 days)', 4)
SET IDENTITY_INSERT [dbo].[shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([status_id], [description]) VALUES (1, N'Pending')
INSERT [dbo].[status] ([status_id], [description]) VALUES (2, N'Approved')
INSERT [dbo].[status] ([status_id], [description]) VALUES (3, N'Shipping')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [email], [password], [username], [fullname], [address], [avatar], [role], [create_at], [phone]) VALUES (3, N'datndhe172134@fpt.edu.vn', N'dat123', N'datnd', N'dat nguyen', N'hoa lac', N'admin.png', 0, CAST(N'2023-10-03' AS Date), N'0397917086')
INSERT [dbo].[user] ([user_id], [email], [password], [username], [fullname], [address], [avatar], [role], [create_at], [phone]) VALUES (4, N'nguyendacdat300303@gmail.com', N'dat123', N'dat', N'dat nguyen', N'hoa lac', N'defaultavatar.png', 1, CAST(N'2023-10-03' AS Date), N'0926942710')
INSERT [dbo].[user] ([user_id], [email], [password], [username], [fullname], [address], [avatar], [role], [create_at], [phone]) VALUES (6, N'manhhp@gmail.com', N'manhyeuquynh', N'manhhp', N'minh manh', N'Hai Phong', N'', 1, CAST(N'2023-10-03' AS Date), N'0123456789')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_product_color] FOREIGN KEY([product_color_id])
REFERENCES [dbo].[product_color] ([product_color_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_product_color]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_shipping] FOREIGN KEY([shipping_id])
REFERENCES [dbo].[shipping] ([shipping_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_shipping]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([status_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_status]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_order_detail_order]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_product_color] FOREIGN KEY([product_color_id])
REFERENCES [dbo].[product_color] ([product_color_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_order_detail_product_color]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[product_color]  WITH CHECK ADD  CONSTRAINT [FK_product_color_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_color] CHECK CONSTRAINT [FK_product_color_product]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_product_color] FOREIGN KEY([product_color_id])
REFERENCES [dbo].[product_color] ([product_color_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_product_color]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_user]
GO
USE [master]
GO
